@model Envision.Models.CompanyRegErr

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Envision</title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
                .dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: #032042;
    color:#ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #032042;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
         #map {
             width:100%;
         }

         .controls {
             background-color: #fff;
             border-radius: 2px;
             border: 1px solid transparent;
             box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
             box-sizing: border-box;
             font-family: Roboto;
             font-size: 15px;
             font-weight: 300;
             height: 29px;
             margin-left: 17px;
             margin-top: 10px;
             outline: none;
             padding: 0 11px 0 13px;
             text-overflow: ellipsis;
             width: 400px;
         }

             .controls:focus {
                 border-color: #4d90fe;
             }

         .title {
             font-weight: bold;
         }

         #infowindow-content {
             display: none;
         }

         #map #infowindow-content {
             display: inline;
         }
         body {
            background: url(../../Content/images/photo_bg.jpg) no-repeat center center fixed;
            background-size: cover;
            line-height: 1.8;
            font-family: "Raleway", sans-serif;
            margin: 0;
            color: #666;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }

        /* Typography */
        h1#title {
            font-family: 'Roboto Slab', serif;
            font-weight: 300;
            font-size: 3.2em;
            color: white;
            text-shadow: 0 0 10px rgba(0,0,0,0.8);
            margin: 0 auto;
            padding-top: 180px;
            max-width: 300px;
            text-align: center;
            position: relative;
            top: 0px;
        }

            h1#title span span {
                font-weight: 400;
            }

        h2 {
            text-transform: uppercase;
            color: white;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 1.4em;
            line-height: 2.8em;
        }

        a {
            text-decoration: none;
            color: #666;
        }

            a:hover {
                color: #aeaeae;
            }

        p.small {
            font-size: 0.8em;
            margin: 20px 0 0;
            line-height: normal;
        }


        /* Layout */
        .container {
            margin: 0;
        }

        .top {
            margin: 0;
            padding: 0;
            width: 100%;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }

        .login-box {
            background-color: white;
            max-width: 600px;
            margin: 0 auto;
            margin-bottom:100px;
            position: relative;
            top: 80px;
            padding-bottom: 30px;
            border-radius: 5px;
            box-shadow: 0 5px 50px rgba(0,0,0,0.4);
            text-align:left;
        }

            .login-box .box-header {
                background-color: #032042;
                margin-top: 0;
                border-radius: 5px 5px 0 0;
            }

            .login-box label {
                font-weight: 800;
                color: #000;
                width:80%;
                margin-left:30px;
                letter-spacing: 1px;
                text-transform: uppercase;
               
            }

            

            .login-box input,select,textarea {
                padding: 8px;
                width:80%;
                margin-left:30px;
                border: 1px solid #ccc;
                border-radius: 2px;
                font-size: .9em;
                color: #888;
            }

            .login-box input[type=radio]{
                width: 15px;
                height:15px;
            }

            .login-box .err{
                color: #ff0000;
                width: 80%;
                margin-left:30px;
                font-size: .9em;
                margin-bottom:20px;
            }
                .login-box input:focus,select:focus,textarea:focus {
                    outline: none;
                    border-color: #032042;
                    transition: 0.5s;
                    color: #665851;
                }

            .login-box button {
                margin-top: 0px;
                border: 0;
                border-radius: 2px;
                color: white;
                padding: 10px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.7em;
                letter-spacing: 1px;
                background-color: #032042;
                cursor: pointer;
                outline: none;
            }

                .login-box button:hover {
                    opacity: 0.7;
                    transition: 0.5s;
                }

                .login-box button:hover {
                    opacity: 0.7;
                    transition: 0.5s;
                }

        .selected {
            color: #032042 !important;
            transition: 0.5s;
        }

        /* Animation Delay */
        #logo {
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 2s;
        }

        .login-box {
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 1s;
        }


    </style>
</head>
<body>
    @if (Session["user_type"].Equals("STD"))
    {
        @Html.Partial("~/Views/Shared/StudentHeader.cshtml")
    }
    else if (Session["user_type"].Equals("CMP"))
    {
        @Html.Partial("~/Views/Shared/CompanyHeader.cshtml")
    }
    else
    {
        @Html.Partial("~/Views/Shared/GuestHeader.cshtml")
    }

    <form action="/Company/Create" method="post" enctype="multipart/form-data">
        <div class="container w3-display-container">
            <div class="login-box">
                <div class="box-header" style="text-align:center;">
                    <h2>Company Register</h2>
                </div>
                <div>
                    <label for="pac-input">Company Name&nbsp;*</label><br />
                    <input id="pac-input" class="controls" type="text" placeholder="Enter Company Name" name="gname">
                    <input type="hidden" name="cid" id="cid" />
                    <input type="hidden" name="cname" id="cname" value="@Model.c.Name"/>
                    <span class="err">@Model.Name</span>
                    <div id="map" style="width:80%;height:200px;margin-left:30px;"></div>
                    <div id="infowindow-content">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                    </div>
                </div>
                <div class="w3-margin-top">
                    <label for="email">Email&nbsp;*</label><br />
                    <input type="email" id="email" name="email" value="@Model.c.Email" required><br />
                    <span class="err">@Model.Email</span>
                </div>
                <div class="w3-margin-top">
                    <label for="password">Password&nbsp;*</label><br />
                    <input type="password" id="password" name="password" required/><br />
                    <span class="err">@Model.Password</span>
                </div>
                <div class="w3-margin-top">
                    <label for="repassword">Re-Enter Password&nbsp;*</label><br />
                    <input type="password" id="repassword" name="repassword" required/><br />
                    <span class="err">@Model.RePassword</span>
                </div>
                <div class="w3-margin-top">
                    <label for="logo">Company Logo&nbsp;*</label><br />
                    <input type="file" name="logo" id="logo" /><br />
                </div>
                <div class="w3-margin-top">
                    <div style="width:50%;float:left;">
                        <label for="industry">Industry</label>
                        <p class="small" style="margin-top:0px;margin-left:30px;width:80%;">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
                        <select id="industry" name="industry" multiple size="5">
                            @foreach(var item in ViewBag.Industries)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div style="width:50%;float:right;padding-bottom:40px;">
                        <label for="type">Type&nbsp;*</label><br />
                        <input type="radio" name="type" value="STP" checked />Start Up<br />
                        <input type="radio" name="type" value="EST" />Establishment<br />
                        <input type="radio" name="type" value="GOV" />Goverment<br />
                        <input type="radio" name="type" value="NGO" />NGO<br />
                    </div>
                </div>
                <div class="w3-margin-top">
                   <label for="about">About Company&nbsp;*</label>
                   <textarea rows="5" name="about" required>@Model.c.About</textarea><br />
                    <span class="err">@Model.About</span>
                </div>
                <div class="w3-margin-top" style="text-align:center">
                    <button type="submit" style="letter-spacing:3px;font-weight: 700;padding: 10px 40px;">Register</button>
                    <br />
                    
                    <a href="/Home/Login">Already a Member?</a><br />
                    <a href="/Student/Create">Student Register?</a>
                </div>
            </div>
         </div>
    </form>


    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          // Set the position of the marker using the place ID and location.
          marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location
          });
          marker.setVisible(true);
          document.getElementById("cid").value = place.place_id;
          document.getElementById("cname").value = place.name;

          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-address'].textContent =
              place.formatted_address;
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiHtRN0YZa-bM-k4qY31Uwe47YYhMtPiA&libraries=places&callback=initMap"
            async defer></script>
</body>
</html>