@model Envision.Models.CompanyView

<!DOCTYPE HTML>
<html>
<head>
    <title>Envision</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .label {
            border-radius: 5px!important;
            font-family: Arial;
            color: #ffffff!important;
            font-size: 14px!important;
            background: #808080!important;
            padding: 5px 10px 5px 10px!important;
            text-decoration: none!important;
        }
        body, html {
            height: 100%;
            line-height: 1.8;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
</head>
<body>
    @{
        Random rand = new Random();
        int i = rand.Next(1000) % 5 + 1;
        string link = "../../Content/images/pic" + i.ToString() + ".jpg";
    }
    @if (Session["user_type"].Equals("STD"))
    {
        @Html.Partial("~/Views/Shared/StudentHeader.cshtml")
    }
    else if (Session["user_type"].Equals("CMP"))
    {
        @Html.Partial("~/Views/Shared/CompanyHeader.cshtml")
    }
    else
    {
        @Html.Partial("~/Views/Shared/GuestHeader.cshtml")
    }

    @if (!string.IsNullOrWhiteSpace(ViewBag.ResError))
    {
        <div class="w3-content" style="margin-top:100px;">
            <span class="w3-text-red">@ViewBag.ResError</span>
        </div>
    }

    @if (string.IsNullOrWhiteSpace(ViewBag.ResError) && Model != null)
    {
        <header id="header" class="alt" style="background-image: url(@link)">
            <div class="inner">
                @{
                    Dictionary<string, string> dict = new Dictionary<string, string>();
                    dict["STP"] = "Startup";
                    dict["NGO"] = "NGO";
                    dict["GOV"] = "Goverment";
                    dict["EST"] = "Establishment";
                }
                <h1>@Model.Name</h1>
                <h4>@dict[Model.CompanyType]</h4>
                @if (!string.IsNullOrWhiteSpace(Session["user_id"].ToString()) && Session["user_id"].Equals(Model.Id) && Session["user_type"].Equals("CMP"))
                {
                    <ul class="actions">
                        <li><a href="/Company/Edit" class="button big w3-white">Edit Profile</a></li>
                    </ul>
                }
            </div>
        </header>

    <!-- Wrapper -->
                    <div id="wrapper">

                        <!-- Banner -->
                        <section id="intro" class="main">
                            <span class="icon fa-diamond major"></span>
                            <h2>About Company</h2>
                            <p style="max-width: 500px;margin: 0 auto;">@Model.About</p><br />
                            @if (!string.IsNullOrWhiteSpace(Model.WebsiteURL))
                            {
                                string website = "http://" + Model.WebsiteURL;
                                <ul class="actions">
                                    <li><a href="@website" class="button big">Learn More</a></li>
                                </ul>
                            }
                        </section>


                        <section id="cta" class="main special">
                            <h2>Works In Industries</h2>
                            <label>
                                @foreach (var l in Model.CompanyIndustry)
                {
                                    <label class="label">@l</label>
                                }
                            </label>
                        </section>

                    </div>

                    }
    <!-- Header -->
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          // Set the position of the marker using the place ID and location.
          marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location
          });
          marker.setVisible(true);
          document.getElementById("cid").value = place.place_id;
          document.getElementById("cname").value = place.name;

          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-address'].textContent =
              place.formatted_address;
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiHtRN0YZa-bM-k4qY31Uwe47YYhMtPiA&libraries=places&callback=initMap"
            async defer></script>
    <!-- Scripts -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/skel.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>

</html>