@model IEnumerable<Envision.Models.StudentView>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Envision</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <style>
        .image {
            float: left;
            display: inline-block;
            width: 50px;
            height: 50px;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            color: #DB6130;
            background: white;
            border-radius: 27px;
            border: solid 3px #dedede;
        }
        .green{
            border-radius: 5px;
            font-family: Arial;
            color: #ffffff;
            font-size : 14px;
            background: #1aad1a;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
        }
        .red{
            border-radius: 5px;
            font-family: Arial;
            color: #ffffff;
            font-size : 14px;
            background: #d60f2a;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
        }
    </style>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    @Html.Partial("~/Views/Shared/AdminHeader.cshtml")
    <div class="content-wrapper">
        <div class="container-fluid">

            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Data Table Example
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Pic</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Reg Time</th>
                                    <th>Verified</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr onclick="window.location.href='/Admin/Student/@item.Id'" style="cursor:pointer">
                                        <td>
                                            <span style="overflow:hidden;object-fit:cover">
                                                @if (item.ProfilePic == null)
                                                {
                                                    <img src="~/Content/images/chicken.jpg" class="image" />
                                                }
                                                else
                                                {
                                                    string imageBase64 = Convert.ToBase64String(item.ProfilePic);
                                                    string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                                                    <img src="@imageSrc" class="image" />
                                                }
                                            </span>
                                        </td>
                                        <td>@item.FirstName @item.LastName</td>
                                        <td>@item.Email</td>
                                        @{ 
                                            Dictionary<string, string> dict = new Dictionary<string, string>();
                                            dict["M"] = "Male";
                                            dict["F"] = "Female";
                                            dict["O"] = "Other";
                                        }
                                        <td>@dict[item.Gender]</td>
                                        <td>@item.RegTime</td>
                                        <td>
                                            @if (item.Verified)
                                            {
                                                <label class="green">Verified</label>
                                            }
                                            else
                                            {
                                                <label class="red">Not Verified</label>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Content/js/sb-admin-datatables.min.js"></script>
        <script src="~/Content/js/sb-admin-charts.min.js"></script>
    </div>
</body>
</html>
